<div class="container-login">
  <div class="div-form">
    <form class="form-login">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
          <mat-card-content>
            <mat-form-field class="input-user" appearance="fill">
              <mat-label>Usuário</mat-label>
              <input type="text" matInput [formControl]="userFormControl" placeholder="">
              <mat-error *ngIf="userFormControl.hasError('required')">
                Campo obrigatório
              </mat-error>
            </mat-form-field>
            <mat-form-field class="input-password" appearance="fill">
              <mat-label>Senha</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" placeholder="">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Campo obrigatório
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button routerLink="/produtos">Entrar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
