<app-cards-produtos></app-cards-produtos>

  <div class="container-buttons">
    <div>
      <button class="button-1 btn shadow-sm" routerLink="/products/adicionar">
        <p>
          Adicionar
        </p>
      </button>
      <button class="button-2 btn shadow-sm" routerLink="/products/editar">
        <p>
          Editar
        </p>
      </button>
      <button class="button-3 btn shadow-sm" routerLink="/products/remover">
        <p>
          Remover
        </p>
      </button>
    </div>
  </div>
