mat-toolbar {
  justify-content: center;
  align-items: center;
}

.container-navbar {
  display: flex;
  flex-direction: row;
  width: 1148px;
  align-items: center;
  justify-content: center;
}

.icon-hamburguer {
  margin-right: 12px;
}

.nav-spacer {
  flex: 1 1 auto;
}
