<mat-toolbar>
  <div class="container-navbar">
    <mat-icon class="icon-hamburguer">lunch_dining</mat-icon>
    <div class="nav-links">
      <button mat-button routerLink="/produtos">
        <span>Comprar</span>
      </button>
      <button mat-button routerLink="/">
        <span>Perfil</span>
      </button>
      <button mat-button routerLink="/sobre">
        <span>Sobre</span>
      </button>
    </div>
    <span class="nav-spacer"></span>
    <button mat-icon-button class="button-cart" routerLink="">
      <mat-icon class="icon-cart">shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
