<form formGroup="productForm">

  <label for="first-name">Imagem: </label>
  <input id="img-product" type="text"
    formControlName="image" placeholder="Endereço URL da imagem"
  >

  <label for="last-name">Nome: </label>
  <input id="name-product" type="text"
    formControlName="name" placeholder="Nome do produto"
  >

  <label for="first-name">Valor: </label>
  <input id="value-product" type="text"
    formControlName="value" placeholder="0"
  >

  <label for="last-name">Quantidade: </label>
  <input id="amount-product" type="text"
    formControlName="amount" placeholder="Quantidade disponível"
  >

</form>
