<div class="container-form">
  <form formGroup="productForm">
    <div class="row">
      <div>
        <input type="text" class="form-control col-12" placeholder="URL da Imagem" id="floatingInput">
      </div>
    </div>
    <div>
      <div class="row">
        <input type="text" class="form-control col-12" placeholder="Nome" id="floatingInput">
      </div>
    </div>
      <div class="row">
        <div class="col">
          <input type="number" class="form-control" placeholder="R$" id="floatingInput">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Quantidade" id="floatingInput">
        </div>
      </div>
  </form>
</div>
