.container-body {
  background-color: #f2f2f2;
}

.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-card {
  margin: 25px 0 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1168px;
}

mat-card {
  width: 240px;
  height: 380px;
  margin: 20px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

mat-card-header {
  margin: 5px;
}

mat-card-title > p {
  margin-top: 10px;
  font-size: 20px;
}

mat-card-subtitle > p {
  font-size: 12px;
}

.img-container {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  min-width: 120px;
  min-height: 120px;
  max-width: 200px;
  max-height: 200px;
  position: inherit;
}

mat-card-content {
  margin: 12px;
}

mat-card-content > p {
  font-size: 18px;
  margin-bottom: 18px;
}

mat-card-actions {
  padding: 4px;
}

button {
  font-size: 20px;
}

/* MEDIA QUERIES */

  /* CELLPHONE */
@media screen and (min-device-width: 585px) {

  mat-card-header {
    margin: 3px;
  }

  mat-card-title > p {
    margin-top: 8px;
    font-size: 18px;
  }

  mat-card-subtitle > p {
    font-size: 12px;
  }

  .div-card {
    max-width: 976px;
    margin: 16px 0 16px 0;
  }

  mat-card {
    width: 192px;
    height: 304px;
    margin: 13px 7px 0 7px;
  }

  mat-card-content {
    margin: 8px;
  }

  mat-card-content > p {
    margin-bottom: 9px;
  }

  mat-card-actions {
    padding: 2px;
  }

  button {
    font-size: 16px;
  }

  .img-container {
    height: 160px;
    width: 160px;
  }

  img {
    min-width: 96px;
    min-height: 96px;
    max-width: 160px;
    max-height: 160px;
  }
}

  /* TABLETS & LAPTOPS */
@media screen and (min-device-width: 954px) {

  .container-cards {
    align-items: center;
    justify-content: center;
  }

  .div-card {
    max-width: 714px;
    margin: 16px 0 16px 0;
  }

  mat-card-header {
    margin: 3px;
  }

  mat-card-title > p {
    margin-top: 8px;
    font-size: 18px;
  }

  mat-card-subtitle > p {
    font-size: 12px;
  }

  .div-card {
    max-width: 952px;
    margin: 16px 0 16px 0;
  }

  mat-card-content {
    margin: 8px;
  }

  mat-card-content > p {
    margin-bottom: 9px;
  }

  mat-card-actions {
    padding: 2px;
  }

  button {
    font-size: 16px;
  }

  .img-container {
    height: 160px;
    width: 160px;
  }

  img {
    min-width: 96px;
    min-height: 96px;
    max-width: 160px;
    max-height: 160px;
  }

  mat-card {
    width: 192px;
    height: 304px;
    margin: 13px 7px 0 7px;
  }
}

  /* PC & LAPTOPS */
@media screen and (min-device-width: 1168px) {

  mat-card-header {
    margin: 3px;
  }

  mat-card-title > p {
    margin-top: 8px;
    font-size: 18px;
  }

  mat-card-subtitle > p {
    font-size: 12px;
  }

  .div-card {
    max-width: 952px;
    margin: 16px 0 16px 0;
  }

  mat-card {
    width: 192px;
    height: 304px;
    margin: 13px 7px 0 7px;
  }

  mat-card-content {
    margin: 8px;
  }

  mat-card-content > p {
    margin-bottom: 9px;
  }

  mat-card-actions {
    padding: 2px;
  }

  button {
    font-size: 16px;
  }

  .img-container {
    height: 160px;
    width: 160px;
  }

  img {
    min-width: 96px;
    min-height: 96px;
    max-width: 160px;
    max-height: 160px;
  }
}
