<div class="container-body">
  <div class="container-cards">
    <div class="div-card">
      <mat-card *ngFor="let product of products">
        <mat-card-header>
          <mat-card-title>
            <p>
              {{ product.name }}
            </p>
          </mat-card-title>
          <mat-card-subtitle>
            <p>
              {{ product.amount }} disponíveis
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <div class="img-container">
          <img mat-card-image [src]="product.img" [alt]="product.name" />
        </div>
        <mat-card-content>
          <p>R$ {{ product.price }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="/produtos" mat-raised-button color="accent">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
