.container-body {
  background-color: #f2f2f2;
}

.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.div-card {
  margin: 25px 0 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1080px;
}

mat-card {
  width: 250px;
  height: 400px;
  margin: 20px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

mat-card-header {
  margin: 5px;
}

mat-card-title > p {
  margin-top: 10px;
  font-size: 20px;
}

mat-card-subtitle > p {
  font-size: 12px;
}

.img-container {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  min-width: 120px;
  min-height: 120px;
  max-width: 200px;
  max-height: 200px;
  position: inherit;
}

mat-card-content {
  margin: 12px;
}

mat-card-content > p {
  font-size: 18px;
  margin-bottom: 18px;
}

mat-card-actions {
  padding: 4px;
}

button {
  font-size: 20px;
}
